---
import Layout from '../../layouts/Layout.astro';
import BlogPostCard from '../../components/BlogPostCard.svelte';

export async function getStaticPaths() {
  const allPosts = Object.values(import.meta.glob('../posts/*.md', { eager: true }));

  return [
    {params: {tag: "Outreach"}, props: {posts: allPosts}},
    {params: {tag: "Skate Lesson"}, props: {posts: allPosts}},
    {params: {tag: "Community"}, props: {posts: allPosts}},
    {params: {tag: "Mental Health"}, props: {posts: allPosts}},
    {params: {tag: "Female Empowerment"}, props: {posts: allPosts}}
  ];
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---
<Layout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {posts.map((post) => 
      <BlogPostCard url={post.url} title={post.frontmatter.title}/>
    )}
  </ul>
</Layout>