---
import Layout from "../layouts/Layout.astro";
---



<Layout title="Contact Us - Emaswati Skate">
    <section>

        <!-- Hero Section -->
        <div class="hero bg-base-200">
            <div class="hero-content text-center">
                <div class="max-w-lg">
                <h1 class="text-5xl font-bold">Get In Touch with Emaswati Skate </h1>
                <p class="py-6">
                    Your Support empoweres Eswatini youth through skateboarding.
                    Whether you have questions, want to volunteer, or partner with us, we’d love to hear from you!
                </p>
                </div>
            </div>
        </div>


        <!-- Contact Info & Form Section -->
        <div id="contact-form" class="flex items-center justify-center bg-base-200 py-10">
            <div class="w-full max-w-5xl grid grid-cols-1 md:grid-cols-2 gap-8 bg-base-100 rounded-xl shadow p-6 md:p-10">
                <!-- Left: Info Card -->
                <div class="flex flex-col justify-between border-r border-base-300 pr-0 md:pr-8">
                    <div>
                        <h2 class="text-xl md:text-2xl font-semibold mb-4">Our Information</h2>
                        <ul class="space-y-4 text-base-content">
                            <li class="flex items-start gap-3">
                                <i class='fa-solid fa-location-dot text-xl text-primary'></i>
                                <span>M4JR+HXF Corner Gwamile and, Mbovane St, Mbabane, Eswatini</span>
                            </li>
                            <li class="flex items-start gap-3">
                                <i class='fa-solid fa-phone text-xl text-primary'></i>
                                <span>+268 761 787 55</span>
                            </li>
                            <li class="flex items-start gap-3">
                                <i class='fa-solid fa-envelope text-xl text-primary'></i>
                                <span>emaswatiskate@gmail.com</span>
                            </li>
                        
                        </ul>

                        <h2 class="text-xl md:text-2xl font-semibold mt-4 mb-4">Socials</h2>
                        <div class="space-y-4 text-base-content">
                            <li class="flex items-start gap-3">
                                <a href="https://www.instagram.com/eswatini_skateboarding/" target="_blank" rel="noopener noreferrer" aria-label="Instagram" class="hover:text-primary"><i class="fa-brands fa-instagram text-xl "></i></a>
                                <a href="https://www.instagram.com/eswatini_skateboarding/" target="_blank" rel="noopener noreferrer" aria-label="facebook" class="hover:text-primary"><i class='fa-brands fa-facebook-f text-xl'></i></a>
                                <a href="https://www.youtube.com/channel/UCZxXqHk8lTqd5cw2PNmi2OA" target="_blank" rel="noopener noreferrer" aria-label="YouTube" class="hover:text-primary"><i class="fa fa-youtube text-xl"></i></a>
                            </li>
                        </div>
                    </div>
                </div>
                <!-- Right: Contact Form -->
                <div>
                    <h2 class="text-xl md:text-2xl font-semibold mb-4">Send Us a Message</h2>
                    <form class="space-y-4">
                        <div>
                            <label for="contact-name" class="block text-sm font-medium mb-1">Your Name</label>
                            <input id="contact-name" name="name" type="text" class="input input-bordered w-full"required />
                        </div>
                        <div>
                            <label for="contact-email" class="block text-sm font-medium mb-1">Your Email</label>
                            <input id="contact-email" name="email" type="email" class="input input-bordered w-full" required />
                        </div>
                        <div>
                            <label for="contact-subject" class="block text-sm font-medium mb-1">Subject</label>
                            <input id="contact-subject" name="subject" type="text" class="input input-bordered w-full" placeholder="Regarding partnership opportunity" required />
                        </div>
                        <div>
                            <label for="contact-message" class="block text-sm font-medium mb-1">Message</label>
                            <textarea id="contact-message" name="message" class="textarea textarea-bordered w-full min-h-[90px]" placeholder="Type your message here..." required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary w-full mt-2">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </section>


</Layout>
